img { 
  width: 100%; 
}
body{
  font-family: arial;
  background-image: url("Bitch Lasagna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
h1{
  color: #F0F8FF;
  font-size: 30px;
}
h2{
  font-size: 20px;
}
p{
  color: #483D8B;
  font-size: 15px;
}
