.website-main-container{
  margin-top: 10dpi;
  margin-bottom: 5dpi;
}
body{
  color: #0000A0;
  font-family: arial;
}
h1{
  font-size: 30dpi;
}
h2{
  font-size: 20dpi;
}
p1{
  font-size: 18dpi;
  img.resize {
  max-width:50%;
  max-height:50%;}
}
p2{
  font-size: 13dpi;
