.website-main-container{
  margin-top: 5px;
  margin-bottom: 5px;
}
img { 
  width: 100%; 
}
body{
  color: #0000A0;
  font-family: arial;
  background-image: url("Bitch Lasagna.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}
p1{
  font-size: 18px;
}
p2{
  font-size: 13px;
}
