.button1{
  
}
.button2{
  background-color: #00B6F1;
}
a{
  font-size: 20px;
}
body{
  color: #ffffff;
  font-family: arial;
  background-image: url("Aesthetic Pewds Background - Edit1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 23px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 20px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
p{
  font-size: 15px;
}
